<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#profile">Profie</a></li>
  <li class="tab-title"><a href="#my-images">My images</a></li>
  <li class="tab-title"><a href="#followers">Followers</a></li>
  <li class="tab-title"><a href="#followings">Followings</a></li>
</ul>

<div class="tabs-content">
  <div class="content active" id="profile">
    <p>First panel content goes here...</p>
  </div>
  <div class="content" id="my-images">
    <p>Second panel content goes here...</p>
  </div>
  <div class="content" id="followers">
    <p>Third panel content goes here...</p>
  </div>
  <div class="content" id="followings">
    <p>Fourth panel content goes here...</p>
  </div>
</div>
