<div class="row notification-index">
  <div class="medium-12 columns">

  <% if current_user.mailbox.notifications.present? %>
    <% current_user.mailbox.notifications.each do |notification| %>
      <%= render partial: 'notification', locals: { notification: notification } %>
    <% end%>
  <% else %>
      <h3>No new notifications. That's freedom.</h3>
  <% end %>
  </div>
</div>



