<div class="photo-grid">
  <div class="wrapper clearfix">
    <% images.first(6).each do |image| %>
      <%= render partial: 'pic', locals: { image: image } %>
    <% end %>

  <div class="title-island"><h1><%= title %></h1></div>
    <% if images[5,6].any? %>
      <% images[5,6].each do |image| %>
        <%= render partial: 'pic', locals: { image: image } %>
      <% end %>
    <% end %>
  </div>
</div>
