<div class="individual-comment {{Akk.nestedClass commentable_type}}">
  <div class="panel">
    <p>{{content}}</p>
  </div>
  <div class="panel-footer">
    <div class="medium-8 columns">
      <p>made by <strong>{{user.usename}}</strong> at {{created_at}} </p>
    </div>
    <div class="medium-4 columns">
      <p class="right footer-icons"><a href='#' class="comment-reply"><i class="fa fa-edit"></i></a> &nbsp; <a class="expand-comments"> <i class="fa fa-plus"></i></a>
    </div>
  </div>
</div>
