<div class="individual-comment {{nestedClass commentable_type}}">
  <div class="panel">
    <p>{{content}}</p>
  </div>
  <div class="panel-footer">
    <div class="medium-10 columns">
      <p><strong>{{user.username}}</strong> at {{created_at}} </p>
    </div>
    <div class="medium-2 columns">
      <p class="right footer-icons"><a href='#' class="comment-reply"><i class="fa fa-edit"></i></a> &nbsp; <a class="expand-comments"> <i class="fa fa-plus"></i></a>
    </div>
  </div>
</div>
