<div class="nested-fields small-10 columns">
  <div class="small-2 columns">
    <%= link_to_remove_association f, class: 'button prefix left' do %>
      <%= fa_icon 'minus' %>
    <% end %>
  </div>
  <div class="field small-10 columns">

    <%= f.text_field :description, label: false, placeholder: 'Add a tag...' %>
  </div>
</div>
