<div class="small-12 large-12 columns">
  <div class="photo-grid">
    <% @images.first(6).each do |image| %>
      <%= image_tag image.sharedimg.url(:thumb) %>
    <% end %>

    <div class="title-island"><h1>hot right now</h1></div>

    <% (5...@images.count).each do |i| %>
      <%= image_tag @images[i].sharedimg.url(:thumb) %>
    <% end %>
  </div>
</div>









