<div class="row black-banner">

  <div class="small-12 large-12 columns">
    <h1>Add a new image</h1>
  </div>

</div>

<div class="row">


  <div class="large-1 columns"></div>
  <div class="large-6 large-offset-3 columns">

    <%= form_for @image do |f| %>
      <%= f.file_field :sharedimg %>
      <%= f.text_area :caption %>
      <%= f.submit %>
    <% end %>


    <h2> Tags </h2>
  </div>
<div class="large-2 columns">


</div>
