<div class="row">
  <div class="medium-8 medium-centered columns">
    <%= image_tag @image.sharedimg.url(:medium) %>
  </div>
</div>


<div class="row">
  <div class="medium-6 medium-centered columns">
    <%= form_for [@image, @comment] do |f| %>
      <%= f.text_area :content, placeholder: 'Enter comment...' %>
      <%= f.submit 'Add Comment' %>
    <% end %>
  </div>
</div>
